<div class="card">
  <p-dataView
    #dv
    [value]="personList"
    [paginator]="true"
    paginatorPosition="both"
    [rows]="12"
    layout="grid"
    filterBy="surname,name,city,yearOfBirth"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
  >
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <p-dropdown
          [options]="sortOptions"
          [(ngModel)]="sortKey"
          (onChange)="onSortChange($event)"
          placeholder="Sortowanie"
          styleClass="p-mb-2 p-mb-md-0"
        ></p-dropdown>
        <div>
          <span class="p-input-icon-left p-mb-2 p-mb-md-0">
            <i class="pi pi-search"></i>
            <input type="search" pInputText placeholder="Wyszukaj" (input)="dv.filter($event.target.value)">
          </span>
        </div>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
      <div *ngIf="visible">
      </div>
    </ng-template>
    <ng-template let-person pTemplate="listItem">
      <div class="p-col-16">
        <div class="product-list-item">
          <app-person-card [person]="person"></app-person-card>
        </div>
      </div>
    </ng-template>
    <ng-template let-person pTemplate="gridItem">
      <div class="p-col-18 p-md-2">
        <app-person-card [person]="person"></app-person-card>
      </div>
    </ng-template>
  </p-dataView>
</div>


