
<div class="detail-search" >
  <span class="p-float-label">
    <input id="float-input" type="text" pInputText [(ngModel)]="searchName" />
    <label for="float-input">Imię</label>
  </span>
  <span class="p-float-label">
    <input id="float-input" type="text" pInputText [(ngModel)]="searchSurname" />
    <label for="float-input">Nazwisko</label>
  </span>
  <span class="p-float-label">
    <input id="float-input" type="text" pInputText [(ngModel)]="searchAge" />
    <label for="float-input">Wiek</label>
  </span>
  <span class="p-float-label">
    <input id="float-input" type="text" pInputText [(ngModel)]="searchName" />
    <label for="float-input">Wzrost od</label>
    <input id="float-input" type="text" pInputText [(ngModel)]="searchName" />
    <label for="float-input">Wzrost do</label>
  </span>
  <span class="p-float-label">
    <input id="float-input" type="text" pInputText [(ngModel)]="searchName" />
    <label for="float-input">Waga od</label>
    <input id="float-input" type="text" pInputText [(ngModel)]="searchName" />
    <label for="float-input">Waga do</label>
  </span>
</div>
