<div class="personal-data center">
    <span class="p-float-label inline-block">
        <input id="float-input" type="text" pInputText> 
        <label for="float-input">Imię</label>
    </span>
    <span class="p-float-label inline-block">
        <input id="float-input" type="text" pInputText> 
        <label for="float-input">Nazwisko</label>
    </span>
    <span class="p-float-label inline-block">
        <input id="float-input" type="text" pInputText> 
        <label for="float-input">Drugie Imię (Opcja)</label>
    </span>  
    <div class="p-float-label center">    
        <p-calendar inputId="float-input"></p-calendar>
        <label for="float-input">Data zaginięcia</label>
    </div>  
</div>




