<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Dane osobowe
        </ng-template>
        <ng-template pTemplate="subtitle">
            Wprowadź dane osobowe
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="name">Imię</label>
                    <input #name="ngModel" id="name" type="text" required pInputText [(ngModel)]="personDetails.name" [ngClass]="{'p-invalid': (name.invalid && submitted) || (name.dirty && name.invalid)}">
                    <small *ngIf="(name.invalid && submitted) || (name.dirty && name.invalid)" class="p-error">Imię jest wymagane.</small>
                </div>
                <div class="p-field">
                    <label for="secondName">Drugie imię (Opcjonalnie)</label>
                    <input #secondName="ngModel" id="secondName" type="text" pInputText [(ngModel)]="personDetails.secondName" [ngClass]="{'p-invalid': (secondName.invalid && submitted) || (secondName.dirty && secondName.invalid)}">
                </div>
                <div class="p-field">
                    <label for="surname">Nazwisko</label>
                    <input #surname="ngModel" id="surname" type="text" required pInputText [(ngModel)]="personDetails.surname" [ngClass]="{'p-invalid': (surname.invalid && submitted) || (surname.dirty && surname.invalid)}">
                    <small class="p-error" *ngIf="(surname.invalid && submitted )|| (surname.dirty && surname.invalid)">Nazwisko jest wymagane.</small>
                </div>
                <div class="p-field">
                    <label for="yearOfBirth">Rok urodzenia</label>
                    <input #yearOfBirth="ngModel" id="yearOfBirth" type="number" required pInputText [(ngModel)]="personDetails.yearOfBirth" [ngClass]="{'p-invalid': (yearOfBirth.invalid && submitted) || (yearOfBirth.dirty && yearOfBirth.invalid)}">
                    <small class="p-error" *ngIf="(yearOfBirth.invalid && submitted) || (yearOfBirth.dirty && yearOfBirth.invalid)">Data urodzenia jest wymagana.</small>
                </div>
                <div class="p-field">
                    <label for="city">Ostatnie miejsce pobytu</label>
                    <input #city="ngModel" id="city" type="text" required pInputText [(ngModel)]="personDetails.city" [ngClass]="{'p-invalid': (city.invalid && submitted) || (city.dirty && city.invalid)}">
                    <small class="p-error" *ngIf="(city.invalid && submitted )|| (city.dirty && city.invalid)">Ostatnie miejsce pobytu jest wymagane.</small>
                </div>
                <div class="p-field lost-date" >
                    <label for="dateOfDisappear">Data zaginięcia</label>
                    <p-calendar #dateOfDisappear="ngModel" id="dateOfDisappear" type="date" [(ngModel)]="personDetails.dateOfDisappear" [maxDate]="maxDateValue" [ngClass]="{'p-invalid': (dateOfDisappear.invalid && submitted) || (dateOfDisappear.dirty && dateOfDisappear.invalid)}"></p-calendar>
                    <small class="p-error" *ngIf="(dateOfDisappear.invalid && submitted ) || (dateOfDisappear.dirty && dateOfDisappear.invalid)">Data zaginięcia jest wymagana.</small>
                </div>
            </div>

        </ng-template>
        <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-end">
                <button pButton label="Dalej" (click)="nextPage()" icon="pi pi-angle-right" iconPos="right"></button>
            </div>
        </ng-template>
    </p-card>
</div>
<router-outlet></router-outlet>




