<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Szczegóły wyglądu
        </ng-template>
        <ng-template pTemplate="subtitle">
            Uzupełnij dane na temat szczegółów wyglądu zaginionego
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field">
                    <label for="eyes">Kolor oczu</label>
                    <p-dropdown [options]="eyes" [(ngModel)]="selectedValueEyes" optionLabel="viewValue" optionValue="value"
                        placeholder="Wybierz kolor"></p-dropdown>
                </div>
                <div class="p-field">
                    <label for="height">Wzrost (przedział)</label>
                    <p-dropdown [options]="heightMin" [(ngModel)]="selectedValueHeightMin" optionLabel="viewValue"
                        optionValue="value" placeholder="Od" [filter]=true [style]="{width: '10vw'}"></p-dropdown>
                    <p-dropdown [options]="heightMax" [(ngModel)]="selectedValueHeightMax" optionLabel="viewValue"
                        optionValue="value" placeholder="Do" [filter]=true [style]="{width: '10vw'}"></p-dropdown>
                </div>
                <div class="p-field">
                    <label for="weight">Waga (przedział)</label>
                    <p-dropdown [options]="weightMin" [(ngModel)]="selectedValueWeightMin" optionLabel="viewValue"
                        optionValue="value" placeholder="Od" [filter]=true [style]="{width: '10vw'}"></p-dropdown>
                    <p-dropdown [options]="weightMax" [(ngModel)]="selectedValueWeightMax" optionLabel="viewValue"
                        optionValue="value" placeholder="Do" [filter]=true [style]="{width: '10vw'}"></p-dropdown>
                </div>
            </div>
            <div class="p-field-checkbox">
                <p-checkbox [(ngModel)]="boolValue" [binary]="true" (click)="switchValue(boolValue)"></p-checkbox>
                <label for="binary">Poważne zagrożenie życia</label>
                <p-dialog [(visible)]="display" [style]="{width: '50vw'}" [closable]="false">Należy zaznaczyć szczególnie w przypadkach,
                    gdy osoba cierpi na poważną chorobę, przyjmuje na stałe leki, podejmowała w przeszłości próby
                    samobójcze.</p-dialog>
                <i class="pi pi-info-circle" (mouseover)="showDialog()" (mouseleave)="hideDialog()"></i>
            </div>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field" *ngIf="boolValue == true">
                    <textarea pInputTextarea [(ngModel)]="explainAlert" placeholder="Opisz powody zagrożenia"
                        [style]="{width: '50vw'}"></textarea>
                </div>
            </div>
            <div class="p-fluid p-formgrid p-grid">
                <div class = "p-field">
                    <label for="features">Szczegóły wyglądu</label>
                    <p-multiSelect #multiSelect [options]="features" [(ngModel)]="selectedFeatures" [style]="{width: '30vw'}" 
                    optionLabel="viewValue" optionValue="value" (onChange)="addFeatureDescription(multiSelect.value)" placeholder="Zaznacz cechy, które chcesz opisać" filter=true filterMatchMode="startsWith"></p-multiSelect>
                </div>
            </div>
            <div class="p-fluid p-formgrid p-grid" *ngFor="let item of selectedFeaturesDescriptions">
                <div class="p-field">
                    <span class="p-float-label">
                        <textarea pInputTextarea [(ngModel)]="item.description" [style]="{width: '30vw'}" autoResize="autoResize"></textarea>
                        <label for="float-input">{{item.label}}</label> 
                        <i class="pi pi-info-circle" (mouseover)="showDialog()" (mouseleave)="hideDialog()"></i>
                    </span>    
                </div>
            </div>    
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-between">
                <p-button label="Wstecz" (click)="prevPage()" icon="pi pi-angle-left"></p-button>
                <p-button label="Zatwierdź" icon="pi pi-check" iconPos="right"></p-button>
            </div>
        </ng-template>

    </p-card>
</div>
<router-outlet></router-outlet>