<div class="p-grid">
    
    <div class="p-col">
        <div class="p-grid p-align-center">
            <div class="p-col-10">
                <p-paginator [rows]="1" 
                [showJumpToPageDropdown]="true" [showPageLinks]="false"></p-paginator>
            </div>
        </div>
        <div class="image-gallery p-align-center">
            <img src="assets/foto{{first + 1}}.jpg" class="item-size"/>
        </div>
    </div>
    <div class="p-col">2</div>
    <div class="p-col">3</div>
</div>
