.p-button.p-button-icon-only { border-radius: 0;
} .image-gallery { text-align: center; padding: 1rem;
}

.item-size{
    max-width: 200px;
}

.smaller {
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 50px;
  }

  .vertical-center{
    margin-top: 20%;
  }

  .margin-top-input{
      margin-top: 20px;
  }


  .button-margin{
      margin-right: 0px;

  }
