<!-- <p-card>
<ng-template pTemplate="header"> Zdjęcie zaginionego </ng-template>
<ng-template pTemplate="subheader">
  Wczytaj zdjęcia osoby zaginionej (maksymalnie 2MB)
</ng-template>
    <p-fileUpload
      name="demo[]"
      url="./upload.php"
      (onUpload)="onUpload($event)"
      multiple="multiple"
      accept="image/*"
      maxFileSize="2000000"
    >
      <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">
            {{ file.name }} - {{ file.size }} bytes
          </li>
        </ul>
      </ng-template>
    </p-fileUpload>
</p-card>
<p-toast></p-toast> -->
<div class="row" style="margin-bottom:15px;">
  <div class="col-md-3">
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
    <button type="button" class="btn btn-success" (click)="file.click()">Dodaj zdjęcie</button>
  </div>
  <div class="col-md-4">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
      {{message}}
    </span>
  </div>
</div>
