<h4>Osoby najbardziej zagrożone</h4>
<div class="card">
<p-dataView
    #dv
    [value]="peopleWithDanger"
    [paginator]="true"
    paginatorPosition="bottom"
    [rows]="6"
    layout="grid"
  >
  <ng-template let-person pTemplate="gridItem">
    <div class="p-col-18 p-md-2">
        <app-person-card [person]="person"></app-person-card>
    </div>
  </ng-template>
</p-dataView>
</div>

<h4>Osoby zaginione najbliżej Ciebie</h4>

<div class = "locationUnavailable" *ngIf="!ifLocationAvailable">
  <p>Nie udało się pobrać Twojej lokalizacji - wpisz poniżej nazwę miasta, w którym się znajdujesz.</p>
  <span class="p-float-label">
      <input #changeCity id="float-input" type="text" pInputText [ngModel]="cityName">
      <label for="float-input">Twoja lokalizacja</label>
      <button pButton pRipple type="button" (click) = "updateCity(changeCity.value)" icon="pi pi-check" class="p-button-rounded"></button>
  </span>
</div>


<p>Podaj odległość w jakiej poszukujesz</p>
<span class="p-float-label">
  <input #change id="float-input" type="text" pInputText [ngModel]="distance">
  <label for="float-input">Odległość w km</label>
  <button pButton pRipple type="button" (click) = "updateDistance(change.value)" icon="pi pi-check" class="p-button-rounded"></button>
</span>

<p>OSOBY NAJBLIŻEJ CIEBIE</p>
<div class="card">
<p-dataView
    #dv
    [value]="peopleInArea"
    [paginator]="true"
    paginatorPosition="bottom"
    [rows]="6"
    layout="grid"
  >
  <ng-template let-person pTemplate="gridItem">
    <div class="p-col-18 p-md-2">
        <app-person-card [person]="person"></app-person-card>
    </div>
  </ng-template>
</p-dataView>
</div>



